@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

html, body {
  width: 100vw;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.main-content {
  position: relative;
  width: 100%;
  height: auto;
  color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .loginpanel {
  width: 100%;
  height: 100vh;
  background-color: #949494;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .loginpanel input, .main-content .loginpanel button {
  width: 400px;
  margin: 5px 0;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid #1f1f1f8c;
  font-size: 14px;
}

.main-content .loginpanel button {
  background-color: #e92a2a;
  color: white;
  cursor: pointer;
}

.main-content .head-section {
  width: 100%;
  height: 65px;
  position: fixed;
  background: white;
}

.main-content .head-section h1 {
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.main-content .head-section h1 img {
  width: 42px;
  height: 42px;
  margin-right: 10px;
}

.main-content .tab-section {
  width: 100%;
  height: 100%;
  margin-top: 65px;
}

.main-content .tab-section .tablink {
  background-color: rgba(255, 166, 0, 0.5);
  color: #1f1f1f;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.main-content .tab-section .tablink :hover {
  background-color: #777;
}

.main-content .tab-section .tabcontent {
  color: white;
  display: none;
  margin-top: auto;
  height: 100%;
  margin-top: 52px;
  padding: 2rem 0;
}

.main-content .tab-section .tabcontent .input-model {
  width: 100%;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.main-content .tab-section .tabcontent .input-model input {
  width: 300px;
  padding: .5rem 1rem;
  margin: 0 10px;
  border: 1px solid #1f1f1f52;
  border-radius: 5px;
}

.main-content .tab-section .tabcontent .input-model button {
  cursor: pointer;
  padding: .5rem 1rem;
  margin: 0 10px;
  border: 1px solid #1f1f1f52;
  border-radius: 5px;
  background-color: #db2d01;
  color: white;
}

.main-content .tab-section .tabcontent .input-model p {
  font-size: 15px;
  font-weight: 500;
}

.main-content .tab-section .tabcontent table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 8rem;
  padding: 2rem 0;
}

.main-content .tab-section .tabcontent table td, .main-content .tab-section .tabcontent table th {
  border: 2px solid #dddddd81;
  text-align: left;
  padding: 8px;
  padding-left: 1rem;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}

.main-content .tab-section .tabcontent table .manageUserData {
  width: 100%;
}

.main-content .tab-section .tabcontent table .manageUserData tr {
  width: 100%;
}

.main-content .tab-section .tabcontent .productManagementContent #itemInputCommentText {
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
}

.main-content .tab-section .tabcontent .productManagementContent .productManagementInputItem {
  width: 100%;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .tab-section .tabcontent .productManagementContent .productManagementInputItem input, .main-content .tab-section .tabcontent .productManagementContent .productManagementInputItem select, .main-content .tab-section .tabcontent .productManagementContent .productManagementInputItem button {
  margin: 0 10px;
}

.main-content .tab-section .tabcontent .productManagementContent .productManagementInputItem input, .main-content .tab-section .tabcontent .productManagementContent .productManagementInputItem select, .main-content .tab-section .tabcontent .productManagementContent .productManagementInputItem button {
  padding: .5rem;
  border-radius: 3px;
  border: 1px solid rgba(70, 69, 69, 0.507);
  font-size: 14px;
}

.main-content .tab-section .tabcontent .productManagementContent .productManagementInputItem button {
  background-color: #db2d01;
  color: white;
  cursor: pointer;
}

.main-content .tab-section .tabcontent .productManagementContent .productItemList table tbody tr {
  text-transform: capitalize;
}

.main-content .tab-section .tabcontent .productManagementContent .productItemList table tbody tr td img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.main-content .tab-section .tabcontent .reservetable {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .tab-section .tabcontent .reservetable .model {
  margin: 1rem;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.4);
  color: #1f1f1f;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1.5rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
}

.main-content .tab-section .tabcontent .reservetable .model P {
  font-size: 15px;
  text-align: center;
  margin: 5px 0;
  font-weight: 600;
}

.main-content .tab-section .tabcontent .manageOrderDetails {
  width: 100%;
  height: 100%;
}

.main-content .tab-section .tabcontent .manageOrderDetails table {
  background-color: transparent;
  margin: 10px auto;
}

.main-content .tab-section #home, .main-content .tab-section #news, .main-content .tab-section #Contact, .main-content .tab-section #About {
  background-color: orange;
}

@media screen and (max-width: 900px) {
  .main-content .tab-section .tablink {
    height: 80px;
  }
  .main-content .tab-section .tabcontent {
    margin-top: 80px;
  }
  .main-content .tab-section .tabcontent .input-model input {
    width: 200px;
  }
  .main-content .tab-section .tabcontent .productManagementContent .productManagementInputItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content .tab-section .tabcontent .productManagementContent .productManagementInputItem input {
    margin-top: 5px;
  }
  .main-content .tab-section .tabcontent .productManagementContent .productManagementInputItem select {
    margin: 5px 10px;
  }
  .main-content .tab-section .tabcontent table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 5rem;
    padding: 2rem 0;
  }
}

@media screen and (max-width: 700px) {
  .main-content .tab-section .tabcontent .manageOrderDetails table tbody tr td {
    font-size: 13px;
  }
}

@media screen and (max-width: 600px) {
  .main-content .tab-section .tablink {
    font-size: 15px;
  }
  .main-content .tab-section .tabcontent .input-model {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .main-content .tab-section .tabcontent .input-model input {
    width: 80%;
    margin: 5px;
  }
  .main-content .tab-section .tabcontent .input-model button {
    width: 80%;
  }
  .main-content .tab-section .tabcontent table {
    width: 80%;
    margin: 4rem 4rem;
  }
  .main-content .tab-section .tabcontent .productManagementContent .productItemList {
    margin: -2rem 1rem;
  }
  .main-content .tab-section .tabcontent .reservetable .model P {
    font-size: 13px;
  }
  .main-content .tab-section .tabcontent .manageOrderDetails table tbody tr td {
    font-size: 12px;
  }
  .main-content .tab-section .tabcontent .manageOrderDetails {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 500px) {
  .main-content .head-section h1 {
    font-size: 17px;
    letter-spacing: 1px;
  }
  .main-content .head-section h1 img {
    width: 35px;
    height: 35px;
  }
  .main-content .tab-section .tablink {
    font-size: 14px;
  }
  .main-content .tab-section .tablink {
    height: 95px;
  }
  .main-content .tab-section .tabcontent {
    margin-top: 95px;
  }
  .main-content .tab-section .tabcontent table {
    margin: 4rem 1.5rem;
  }
  .main-content .tab-section .tabcontent table td {
    font-size: 13px;
  }
  .main-content .tab-section .tabcontent .productManagementContent .productItemList {
    width: 100%;
    margin: -2rem -1rem;
  }
  .main-content .tab-section .tabcontent .productManagementContent .productItemList select {
    font-size: 11px;
    width: 60px;
  }
  .main-content .loginpanel input, .main-content .loginpanel button {
    width: 300px;
  }
}

@media screen and (max-width: 300px) {
  .main-content .loginpanel input, .main-content .loginpanel button {
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */